# Global
NODE_ENV=development

# Database
DATABASE_URL=postgresql://admin:password@localhost:5432/business_os

# Auth
JWT_SECRET=supersecretchangeinproduction
JWT_REFRESH_SECRET=anothersecretchangeinproduction

# Redis
REDIS_URL=redis://localhost:6379

# Mobile/Frontend
EXPO_PUBLIC_API_URL=http://localhost:3000
